body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-style{
    color:orange;
}
.flexible-container{
    display:flex;
    margin-bottom: 40px;
}
.half-width{
    width:50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width:80%;
    margin-top: 130px;
}
.link-button{
        background: linear-gradient(to right, #ff7f00, #ff00ff); 
        color: #fff; 
        padding: 10px 20px; 
        text-decoration: none; 
        border-radius: 10px;
        font-weight: 700;
}
.Experience-area{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow:10px 10px 40px gray;
    border-radius: 5px;
    padding-left: 20px;
}
footer{
    text-align: center;
    font-weight: 700;
}
.fullstack-border-style{
    border-left: 10px solid tomato;
    padding: 20px;
}
.baby-border-style{
    border-left: 10px solid blue;
    padding: 20px;
}